venv/
.env
**/mlruns/
.me/
*.pyc
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyi
*.egg-info/
dist/
build/
*.egg
*.log
*.pid
*.coverage
htmlcov/
.coverage/
.pytest_cache/
.tox/
.cache/
.mypy_cache/
pip-wheel-metadata/
*.env
*.csv
**/outputs/*
**/data/*
**/mlruns/
**/wandb/
.ruff_cache/
/**/results/
*.DS_Store
**/venv/
logging.conf
launch.json